[submodule "app/src/main/cpp/libraries/KittyMemory"]
	path = app/src/main/cpp/libraries/KittyMemory
	url = https://github.com/MJx0/KittyMemory.git
[submodule "app/src/main/cpp/libraries/ImGui"]
	path = app/src/main/cpp/libraries/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "app/src/main/cpp/libraries/Dobby"]
	path = app/src/main/cpp/libraries/Dobby
	url = https://github.com/jmpews/Dobby.git
[submodule "app/src/main/cpp/libraries/BNM-Android"]
	path = app/src/main/cpp/libraries/BNM-Android
	url = https://github.com/ByNameModding/BNM-Android
